body {
	margin:50px auto;
	line-height:1.5;
	font-size:18px;
	color:#514f4f;
	padding:0px 10px;
	margin: 40px 100px;
	font-family: Serif;
	}

h1,h2,h3{line-height:1}

ul.megaliste {
    list-style-type:none;
}

